<!DOCTYPE html>
<html>
	<head>
	
	</head>
	<body>
		<h1>Halo, apa kabar?</h1>
		<br>
		<h1>write status : </h1>
		<form action="{% url 'landingPage:landingPage' %}"method="POST">
			{% csrf_token %}
			{{ form }}
			<input type="submit" value="Post" id="submit">
		</form>
		
		<h1>status written : </h1>
		<table style="border:1px solid black">
			{% for s in schedule %}
				<tr>
					<td style="border:1px solid black">
						{{ s.status }}
					</td>
				</tr>
			{% endfor %}
		</table>
	</body>
</html>
